p {
    font-size: 16px;
}
.intro-header{
	background:url('https://pixabay.com/get/eb35b10a28f2073ed1534705fb0938c9bd22ffd41db9174797f1c47fa2/sand-2005066_1920.jpg');
	height: 150px;
}
.navbar-inverse {
    background-color: #FFF;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.05);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #999;
    background-color: #EEEEEE;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #999;
  background-color: #EEE;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #24292e;
  background-color: #EEE;
}
.navbar-inverse .navbar-brand {
    color: #999;
    font-family: 'Roboto', cursive;
    font-size: 20px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #24292e;
  background-color: #EEE;
}
.navbar-inverse .navbar-header > a:hover{
    color: #3D3D3D;
	/*background-color: #EEE;*/
}

.main{
    background: #FFF;
}