p {
    font-size: 16px;
}
.intro-header{
	background:url('https://pixabay.com/get/eb35b10a28f2073ed1534705fb0938c9bd22ffd41db9174797f1c47fa2/sand-2005066_1920.jpg');
	height: 150px;
}
.navbar-inverse {
    background-color: #262B30;
    border-bottom: 1px solid #F4F4F4;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #999;
    background-color: #EEEEEE;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #999;
  background-color: #3F4448;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #999;
  background-color: #3F4448;
}
.navbar-inverse .navbar-brand {
    color: #999;
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #24292e;
  background-color: #F4F4F4;
}

.main{
    background: #FFF;
}

a {
  color: #3F4448;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #262B30;
  text-decoration: none;
}
/**Mobile**/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}